<script src='https://js.tito.io/v2/with/gtag' async></script>
<div class="campaign-container">
    <video autoplay muted loop>
        <source src="/videos/sizzle.m4v" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>        
    <div class="campaign-content">
        <div class="campaign-inner">
            <h1>Level Up at CascadiaJS!</h1>
            <img class="campaign-photo" src="/images/sticker-memory-stick.png" width="300"/>
            <p>CascadiaJS is the premier JavaScript conference in the Pacific Northwest and is being held on Nov 3-4.
               This year's event will bring together an amazing group of ~750 web developers from across the Pacific Northwest (and beyond).</p>
            <p>Over the course of 2 days, you'll hear 20 amazing talks by experts and their fields, covering everything from Web3 to React to leveling-up inside your company.</p>
            <p>We will also create lots of opportunities for you to meet people and connect, including scheduling frequent breaks between talks and organizing social events both online and in-person.</p>
            <p>Here are just a few of the other amazing things we have in store for CascadiaJS 2021:</p>
            <p><i class="fas fa-gamepad"></i> A pre-conference Hack Event</p>
            <p><i class="fas fa-gifts"></i> Goodie Box with a hoodie, stickers and other fun stuff <b>shipped to you</b></p>
            <p><i class="fas fa-turntable"></i> Opening and Closing virtual parties</p>
            <p><i class="fas fa-file-medical"></i> In-person hybrid events in Seattle, Portland and Vancouver for vaccinated folks</p>
            <p><i class="fas fa-microphone-stand"></i> Opening and Closing in-person After Parties</p>
            <p>We hope you can join us in Cascadia! 🌲</p>
            <tito-widget event="event-loop/cascadiajs-2021"></tito-widget>
        </div>
    </div>
</div>

