<script src='https://js.tito.io/v2/with/gtag' async></script>
<div class="campaign-container">
    <video id="sizzle" autoplay loop muted>
        <source src="/videos/sizzle.webm" type="video/webm">
        Sorry, your browser doesn't support embedded videos.
    </video>        
    <div class="campaign-content">
        <div class="campaign-inner">
            <h1>Join us for CascadiaJS at MoPop!</h1>
            <div style="display:flex;margin-bottom:16px;">
                <div style="width:49%;margin-right:2%"><img src="/images/conf/hybrid-seattle-mopop.jpg"/></div>
                <div style="width:49%"><img src="/images/conf/mopop-theatre.jpg"/></div>
            </div>
            <p>CascadiaJS is the premier JavaScript conference in the Pacific Northwest and is being held on Nov 3-4.
               This year's event will bring together an amazing group of web developers from across the Pacific Northwest (and beyond).
            <p>We are hosting a Hybrid Event in Seattle at MoPop for a limited number of attendees. Capacity will be capped at 150 people and we will
                provide coffee, snacks and catered lunch for all attendees.</p> 
            <p class="highlight warning">In order to attend, attendees will need to provide proof of vaccination
                and we will require masks while inside.
            </p>
            <p>Here are just a few of the other amazing things we have in store for CascadiaJS 2021:</p>
            <p><i class="fas fa-gamepad"></i> A pre-conference Hack Event</p>
            <p><i class="fas fa-gifts"></i> A limited-edition conference hoodie</p>
            <p><i class="fas fa-turntable"></i> JavaScript Trivia and a Live Musical Performance</p>
            <p><i class="fas fa-glass-cheers"></i> Opening Party at MoPop</p>
            <p><i class="fas fa-microphone-stand"></i> Closing After Party at Citizen with Karaoke!</p>
            <div style="display:flex">
                <div style="width:33%;margin-right:0.5%"><img src="/images/conf/citizen-bar.jpg"/></div>
                <div style="width:33%;margin-right:0.5%"><img src="/images/conf/citizen-covered.jpg"/></div>
                <div style="width:33%"><img src="/images/conf/citizen-needle.jpg"/></div>
            </div>
            <tito-widget event="event-loop/cascadiajs-2021" releases="j5alov85rse,uc1sopmquhq,scholarship-donation"></tito-widget>
        </div>
    </div>
</div>

