<script src='https://js.tito.io/v2/with/gtag' async></script>
<div class="campaign-container">
    <video id="sizzle" autoplay loop muted>
        <source src="/videos/sizzle.webm" type="video/webm">
        Sorry, your browser doesn't support embedded videos.
    </video>        
    <div class="campaign-content">
        <div class="campaign-inner">
            <h1>Join us for CascadiaJS at UBC Robson Square!</h1>
            <div style="display:flex;margin-bottom:16px;">
                <div style="width:49%;margin-right:2%"><img src="/images/conf/hybrid-vancouver-ubc.jpg"/></div>
                <div style="width:49%"><img src="/images/conf/ubc-inside.jpg"/></div>
            </div>
            <p>CascadiaJS is the premier JavaScript conference in the Pacific Northwest and is being held on Nov 3-4. This year's event will bring together an amazing group of web developers from across the Pacific Northwest (and beyond).</p>
            <p>We are hosting a Hybrid Event in Vancouver, BC at UBC Robson Square for a limited number of attendees. Capacity will be capped at 120 people and we will
                provide coffee, snacks and catered lunch for all attendees.</p> 
            <p class="highlight warning">In order to attend, attendees will need to provide proof of vaccination.</p>
            <p>Here are just a few of the other amazing things we have in store for CascadiaJS 2021:</p>
            <p><i class="fas fa-gamepad"></i> A pre-conference Hack Event</p>
            <p><i class="fas fa-gifts"></i> A limited-edition conference hoodie</p>
            <p><i class="fas fa-turntable"></i> JavaScript Trivia and a Live Musical Performance</p>
            <p><i class="fas fa-glass-cheers"></i> Opening and Closing Parties</p>
            <div style="display:flex">
                <div style="width:33%;margin-right:0.5%"><img src="/images/conf/cjs-party1.jpg"/></div>
                <div style="width:33%;margin-right:0.5%"><img src="/images/conf/cjs-party2.jpg"/></div>
                <div style="width:33%"><img src="/images/conf/cjs-party3.jpg"/></div>
            </div>
            <tito-widget event="event-loop/cascadiajs-2021" releases="v8fofxwnymw,2m-dsgrlruk,scholarship-donation" ${ DISCOUNT_CODE }></tito-widget>
        </div>
    </div>
</div>

